body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.488) !important;
    position: absolute;
    top: 0;
    width: 100%;
}
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff !important;
}
  
.upper {
    position: relative;
}

.upper img {
    width: 100%;
    height: auto;
}

.nav-brand-custom {
    margin-left: 7%;
    margin-right: 13%;
}

nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/* gap between element in nabar header */
.navbar-nav li:not(:last-child) {
    margin-right: 50px;
}

.second-ul {
    margin-left: 25%;
}
.second-ul li a {
    text-decoration: none;
    color: #fff;
}

.center-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
}
.center-text h1 {
    font-size: 80px;
    font-weight: bold;
}
.center-text h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 4%;
}

.play-now {
    background-color: #F3AF34;
    font-size: 16px;
    border: none;
    padding: 10px;
    margin-top: 6%;
    font-weight: 700;
    width: 18%;
    border-radius: 4px;
    letter-spacing: 3px;
}
.play-now:hover {
    background-color: #b98119;
    color: #fff;
}

.scrollspy {
    margin-top: 32%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scrollspy h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.scrollspy img {
    position: absolute;
    width: 30px;
    left: 28%;
}


/* -----------first content----------- */
.upper-middle {
    position: relative;
    width: 100%;
    height: auto;
}

.upper-middle img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.left-text {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 26%;
    left: 5.5%;
    text-align: left;
    letter-spacing: 3px;
    display: flex;
    align-items: flex-start;
}

.carousel-container {
    margin-right: 20px;
}

.left-text h1 {
    font-size: 56px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.left-text h3 {
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.carousel-item img {
    width: 100%;
    height: 480px; 
    object-fit: cover;
}

.carousel-control-prev img {
    max-width: 12%;
    max-height: 120px; 
    object-fit: cover;
    margin-right: 120%;
}
.carousel-control-next img {
    max-width: 12%;
    max-height: 120px; 
    object-fit: cover;
    margin-left: 120%;
}
 
#carouselExampleIndicators {
    margin-top: 4.8%;
}

.upper-middles {
    position: relative;
}

.upper-middles-bg img {
    width: 100%;
    height: auto;
}
.upper-middles-container {
    position: absolute;
    top: 40%;
    left: 55%;
    color: #fff;
    text-align: left;
    /* transform: translate(-50%, -50%); */
}

.first-point,
.second-point,
.third-point {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.first-point img,
.second-point img,
.third-point img {
    margin-right: 10px;
    margin-top: 10%;
}

.point-img {
    margin-right: 10px;
}
.point-img img {
    display: block;
}

.first-point .point-title,
.second-point .point-title,
.third-point .point-title {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFB548;
}
.second-point .point-title,
.third-point .point-title {
    margin-top: 9%;
}

.first-point .point-content {
    margin: 0;
    margin-top: 10px;
    margin-right: 25px;
}
.point-content {
    width: 55%;
    margin-bottom: 5%;
    margin-left: 27px;
    font-size: 14px;
}
.line-divider {
    position: absolute;
    width: 2px;
    left: -0.5%;
    top: 5%;
    height: 50.5%;
    background-color: #fff;
    margin-left: 10px;
  }
  
.upper-middles-title {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: #fff;
    top: 20%;
    left: 55%;
    text-align: left;
    letter-spacing: 3px;
}
.upper-middles-title h1 {
    font-size: 56px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.upper-middles-title h3 {
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.border:first-child {
    border-radius: 10px 0 0 0;
}
/* .border:nth-child(4) {
    border-radius: 0 10px 0px;
} */
.border:last-child {
    border-radius: 0 0 10px 0;
}

.row{
    width: 100%;
    /* padding: 0 10% 0 10%; */
}
.row h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFB548;
    text-transform: uppercase;
}
.row h4  {
    font-size: 18px;
    font-weight: 300;
}

/* third-content */
.lower-middle {
    position: relative;
}

.lower-middle-bg {
    position: relative;
}
.lower-middle-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 600px -75px 50px 15px rgb(0 0 0 / 95%);
}
.lower-middle-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lower-middle-subtitle h3{
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 24px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lower-middle-title h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
    text-align: left;
}
.lower-middle-container {
    position: absolute;
    top: 28%;
    left: 10%;
    color: #fff;
    text-align: left;
    /* transform: translate(-50%, -50%); */
}

/* fourth content */
.lower-middles {
    position: relative;
}

.lower-middles-bg {
    position: relative;
}
.lower-middles-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lower-middles-container {
    position: absolute;
    top: 28%;
    left: 10%;
    color: #fff;
    text-align: left;
}

.lower-middles-title h1{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 56px;
    text-align: left;
}
.lower-middles-title h3 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: left;
    width: 75%;
}

.btn-see-more {
    background-color: #FFB548; 
    color: black; 
    border-radius: 4px; 
    border: none; 
    width: 50%; 
    margin-top: 10%;
    padding: 14px 0px 14px 0; 
    font-weight: 600;
}
.btn-see-more:hover {
    background-color: #F3AF34;
    color: rgb(241, 239, 239);
}

/* fourth content - cards */
.cards-container {

    position: absolute;
    margin-top: -72%;
    left: 140%;
    transform: translateY(-50%);
    width: 100%;
}

.cards-container .first-card,
.cards-container .second-card,
.cards-container .third-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}



@media (min-width: 576px) {
    .cards-container {
      position: relative;
      top: unset;
      right: unset;
      transform: unset;
    }
}
  
@media (min-width: 768px) {
.cards-container .first-card,
.cards-container .second-card,
.cards-container .third-card {
        width: 100%;
    }
}

.head-content {
    display: flex;
    align-items: center;
    padding: 20% 20% 20% 30%;
}
.head-content .person {
    position: absolute;
    border-radius: 50%;
    top: 8%;
    left: 4%;
    width: 13.5%;
}
.head-content .bg-person {
    position: absolute;
    top: 11%;
    left: 6.4%;
}

.name-content h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFB548;
    position: absolute;
    bottom: 70%;
    left: 25%;
    width: 50%;
}
.name-content h5 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #b2b1b1;
    top: 26%;
    left: 25%;
}

.card-twt {
    position: absolute;
    right: 5%;
    bottom: 78%;
}

.description h4{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    top: 50%;
    left: 4%;
    width: 80%;
}

.description h5 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    left: 4%;
    bottom: 15%;
    color: #c5c4c4;
}

.second-card .description h5,
.third-card .description h5 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    left: 4%;
    bottom: 7%;
    color: #c5c4c4;
}


.second-card {
    position: absolute;
    /* width: 155%;
    height: 390%; */
    background-color: #1e1e1e;
    border-radius: 10px;
    top: 100%;
    right: 18%;
}


.third-card {
    position: absolute;
    /* width: 155%;
    height: 390%; */
    background-color: #1e1e1e;
    border-radius: 10px;
    top: 200%;
    right: 8%;
}

/* ------------------------------------ */
/* footer */
.footer {
    position: relative;
    /* width: 100%;
    height: auto; */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    /* position: absolute; */
    display: flex;
    align-items: center;
    left: 159.96px;
    top: 49.98px;
}
.container img {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 445.47px;
    height: 694.41px;
    margin-left: 159.96px;
    margin-top: 49.98px;
    box-shadow: 0 0 42px rgb(20 23 24);
}


.content {
    flex: 1 1 auto;
    color: #fff;
    margin-right: 7.46%;
    margin-left: 6%;
}
.content h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
}
.content h3 {
    width: 35%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    font-weight: lighter;
}
.content p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
  
ul.nav {
    /* position: absolute;s */
    bottom: 0;
    right: 0;
    margin-right: 6%;
}
ul.nav li.nav-item {
    padding-right: 5px;
}
ul.nav li.nav-item:nth-child(5) {
    margin-right: 21.72px;
}
  
.nav-item a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.nav-item a:hover {
    text-decoration: none;
    color: rgb(194, 193, 193);
}

.footer-fb {
    width: 1px; height: 5px;
}

.input-field {
    color: #FFB548;
    background-color: #373737;
    width: 118%;
    border-radius: 4px;
    border: none;
    margin-right: 10%;
}
.input-field input .form-control {
    height: 40px;
}

.input-field:focus {
    background-color: #373737;
    color: #FFB548;
    box-shadow: none;
}

.label-input-field {
    color: #999898;
}

.btn-subscribe {
    background-color: #FFB548; 
    color: black; 
    border-radius: 4px; 
    border: none; 
    width: 80%; 
    padding: 17px 0px 17px 0; 
    font-weight: 600;
}
.btn-subscribe:hover {
    background-color: #F3AF34;
    color: rgb(241, 239, 239);
}


/* ------------- */

@media only screen and (max-width: 600px) {
    /* Styles for mobile */
    .scrollspy h6 {
      font-size: 12px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablet */
    .scrollspy h6 {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 1024px) {
    /* Styles for laptop */
    .scrollspy h6 {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 1024px) {
    /* Styles for laptop */
    .center-text h1 {
      font-size: 24px;
    }

    .center-text h3 {
      font-size: 14px;
    }

    .center-text .play-now {
        font-size: 15px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablet */
    .center-text h1 {
      font-size: 28px;
    }

    .center-text h3 {
      font-size: 16px;
    }

    .center-text .play-now {
        font-size: 15px;
    }
  }
  @media only screen and (max-width: 600px) {
    /* Styles for mobile */
    .center-text h1 {
      font-size: 24px;
    }

    .center-text h3 {
      font-size: 14px;
    }

    .center-text .play-now {
        font-size: 15px;
    }
  }

  @media only screen and (max-width: 600px) {
    /* Styles for mobile */
    .carousel-container h3 {
      font-size: 24px;
    }

    .carousel-container h1 {
      font-size: 36px;
    }

    .carousel-item img {
        width: 100%;
        height: 205px;
    }

    .upper-middles-title h3 {
        font-size: 18px;
    }

    .upper-middles-title h1 {
        font-size: 24px;
    }

    .point-details .point-title {
        font-size: 14px;
    }

    .point-details .point-content {
        font-size: 12px;
    }

    .second-point .point-title,
    .third-point .point-title {
        font-size: 14px;
        margin-bottom: 8.5px;
    }

    .line-divider {
        height: 40%;
    }

    .lower-middle-subtitle h3,
    .lower-middle-title h1 {
        font-size: 16px;
    }

    
    .lower-middle-container .border h3,
    .lower-middle-container .border h4 {
        font-size: 12px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .lower-middles-title h1,
    .lower-middles-title h3,
    .name-content h4,
    .description h4{
        font-size: 20px;
        width: 30%;
    }

    
    .description h5, 
    .name-content h5 {
        font-size: 16px;
    }

    .btn-see-more {
        width: 50%;
        font-size: 18px;
    }

    .container img {
        width: 130px;
        height: auto;
        margin: 10px;
    }
    
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablet */
    .carousel-container h3 {
      font-size: 28px;
    }

    .carousel-container h1 {
      font-size: 42px;
    }
    
    .carousel-item img {
        width: 80%;
        height: 205px;
    }

    .upper-middles-title h3 {
        font-size: 20px;
    }

    .upper-middles-title h1 {
        font-size: 30px;
    }

    .point-details .point-title {
        font-size: 16px;
    }

    .point-details .point-content {
        font-size: 12px;
    }

    .second-point .point-title,
    .third-point .point-title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .line-divider {
        height: 50%;
    }

    .lower-middle-subtitle h3,
    .lower-middle-title h1 {
        font-size: 18px;
    }
    
    .lower-middle-container .border h3,
    .lower-middle-container .border h4 {
        font-size: 12px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .lower-middles-title h1,
    .lower-middles-title h3,
    .name-content h4,
    .description h4{
        font-size: 20px;
        width: 50%;
    }

    
    .description h5, 
    .name-content h5 {
        font-size: 16px;
    }
    
    .btn-see-more {
        width: 50%;
        font-size: 18px;
    }

    .content h3,
    .content h1,
    .content p,
    .input-field,
    .label-input-field,
    .btn-subscribe,
    .nav-item a {
        font-size: 8px;
    }
  }
  
  @media only screen and (max-width: 1200) {
    .content h3,
    .content h1,
    .content p,
    .input-field,
    .label-input-field,
    .btn-subscribe,
    .nav-item a {
        font-size: 8px;
    }

    .container img {
        width: 130px;
        height: auto;
        margin: 10px;
    }
  }

  @media only screen and (max-width: 1024px) {
    /* Styles for laptop */
    .carousel-container h3 {
      font-size: 24px;
    }
    
    .carousel-item img {
        width: 70%;
        height: 205px;
    }

    .upper-middles-title h3 {
        font-size: 22px;
    }

    .upper-middles-title h1 {
        font-size: 32px;
    }

    .point-details .point-title {
        font-size: 16px;
    }

    .point-details .point-content {
        font-size: 14px;
    }

    .second-point .point-title,
    .third-point .point-title {
        font-size: 16px;
        margin-bottom: 10.5px;
    }

    .line-divider {
        height: 55%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .container img {
        margin-top: 3px;
        width: 140px;
        height: auto;
        margin: 10px;
    }

    .content h3,
    .content h1,
    .content p,
    .input-field,
    .label-input-field,
    .btn-subscribe,
    .nav-item a {
        font-size: 14px;
        width: 125%;
    }
    .nav-item a {
        font-size: 9px;
        margin-right: 0px;
    }

    ul.nav li.nav-item:nth-child(5) {
        margin-right: 3px;
    }

    ul.nav li.nav-item {
        padding-right: 0px;
    }
  }
/* ------------- */

html,body{
    overflow-x: hidden;
}